@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}
  
input:focus-visible, textarea:focus-visible, div:focus-visible {
    outline: none;
}

/* Oculta a barra de rolagem */
.custom-scrollbar::-webkit-scrollbar {
    display: none; 
}
.custom-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
